html, body{
    font-family: 'Montserrat', sans-serif;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
		color: #00719c;
		min-height: 100%;
		margin: 0;
		padding: 0;
	}



p {
		margin-top: 0;
		margin-bottom: 0;
	}

#download_button{
		background-color: #4d6880 !important;
	}

.download_button{
  		background-color: #4d6880 !important;
  	}
#cs_card{
	  background-color: #f7faff;
	}

.grey_text {
		color: #4d6880;
}

.light_grey_text {
	color: #ebf1fa;
}

.small_text {
	font-size: 15px !important;
	font-weight: 500;
}

.yellow_bg {
		background-color:#f4ffc7;
}

.sd_choice_div {
		background-color:#ffffff;
		width: 450px;
		height: 210px;
		margin-bottom:25px;
		margin-right:50px;

}



.table td, .table th {
	   padding: .3rem;
	   vertical-align: middle;
	   border-top: 1px solid #dee2e6;

}

.table-bordered, .table-bordered {
	   border: 1px solid #dee2e6;
		 background-color: #fcfdff

}
.hello-msg {
	font-size: 18px;
	color: #fff;
	margin-right: 20px;
}

.small_txt {
	font-size: 10px;
}





.card_shadow {
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.19);
}





body {
  display: flex;
  flex-direction: column;
	background-image: linear-gradient( 179.4deg,  rgba(33,150,243,1) 1.8%, rgba(22,255,245,0.60) 97.1% );
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh
}



.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}









.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  list-style: none;
  margin: 0;

}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  font-size: 20px;
  color: #bdf9ff;
  margin-right: 20px;
}

.navigation a:hover {
  background: #1565C0;
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    flex-flow: column wrap;
    padding: 0;
  }
  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255,0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}
