{% extends 'stops/main.html' %}


{% block content %}


<div class="d-flex justify-content-center">
  <div style="flex-wrap: wrap; background-color: white; max-width: 85%" class="row-md d-flex justify-content-center pt-3">
    <div class="d-flex justify-content-center" style = "width: 100%">
      <h1>GTU working hours graphs</h1>
    </div>

    <div class="card_shadow mx-3 mb-3 d-flex justify-content-center" style="width: 682px; background-color: white; padding-top:10px; padding-left:10px; ">
      <h2>2021</h2>
      <div id="chart_2021" style="width: 600px; height:200px">
      </div>
    </div>

    <div class="card_shadow mx-3 mb-3 d-flex justify-content-center" style="width: 682px; background-color: white; padding-top:10px; padding-left:10px;">
      <h2>2020</h2>
      <div id="chart_2020" style="width: 600px; height:200px">
      </div>
    </div>

    <div class="card_shadow mx-3 mb-3 d-flex justify-content-center" style="width: 682px; background-color: white; padding-top:10px; padding-left:10px;">
      <h2>2019</h2>
      <div id="chart_2019" style="width: 600px; height:200px">
      </div>
    </div>

    <div class="card_shadow mx-3 mb-3 d-flex justify-content-center" style="width: 682px; background-color: white; padding-top:10px; padding-left:10px;">
      <h2>2018</h2>
      <div id="chart_2018" style="width: 600px; height:200px">
      </div>
    </div>

  </div>
</div>








{% endblock content%}
