{% load static %}

<style>
  .hello-msg {
    font-size: 18px;
    color: #fff;
    margin-right: 20px;
  }
</style>

<div >

  <span class="hello-msg">Приветствую, {{request.user}}</span>
  <span><a class="hello-msg" a href="{% url 'stops:logout'%}">Logout</a></span>

  <ul class="navigation">
    <li><a href="{% url 'stops:index' %}">Показатели</a></li>
    <li><a href="{% url 'stops:shutdowns_general' %}">Остановы</a></li>
    <li><a href="{% url 'stops:working_hours' %}">Наработка ГПА</a></li>
    <li><a href="{% url 'stops:gtu_info' %}">Инфо по ГПА</a></li>
  </ul>
</div>
