{% load static %}

<style>
  .hello-msg {
    font-size: 18px;
    color: #bdf9ff;
    margin-right: 20px;
  }
</style>


<div>
  <span class="hello-msg">
    Welcome, <span style="color:#fff; font-size: 20px;">{{request.user}}</span>
    <a class="hello-msg" href="{% url 'stops:logout'%}">Logout</a>
  </span>
</div>
<div>
  <ul class="navigation">
    <li><a href="{% url 'stops:index' %}">Показатели</a></li>
    <li><a href="{% url 'stops:shutdowns_general' %}">Остановы</a></li>
    <li><a href="{% url 'stops:working_hours' %}">Наработка ГПА</a></li>
    <li><a href="{% url 'stops:gtu_info' %}">Инфо по ГПА</a></li>
  </ul>
</div>
