{% extends 'stops/main.html' %}


{% block content %}

<div style="border: red solid 1px">
  <div style="max-width: 1250px; margin: auto; border: solid yellow 1px">
    <div style="margin: 10px; border: green solid 1px; flex-wrap: wrap;" class="d-flex justify-content-between">
      <div style="width: 300px; border: white 1px solid" >
        fdgfdgdfgdf
      </div>
      <div style="width:60%; border: white 1px solid">
        fdgfdgdfgdf
      </div>


      </div>
      </div>
      </div>





<!--
<div>
  <div style="border:solid red 2px; padding:0px 35px; flex-wrap: wrap" class="row-md d-flex justify-content-center ">

    <div style="background-color: white; min-width: 250px; max-height: 160px; margin-bottom: 15px" class="card_shadow rounded d-flex flex-column">
      <div class="d-flex align-items-center justify-content-between" style="height:50%; padding: 15px">
        <p>Добавить останов</p>
        <a id="download_button" class="btn btn-secondary " style="width:120px; height: 40px" href="{% url 'stops:upload_SD' %}"> + </a>
      </div>

      <div class="d-flex align-items-center justify-content-between" style="height:50%; padding: 15px">
        <p>Остановы за</p>
        <form style="" class="form-inline d-flex justify-content-center" action="{% url 'stops:shutdowns_general_request' %}" method="POST">
          {% csrf_token %}
          <select style="width: 100px;" name='year' class=" form-control " aria-label=".form-select-lg example">
            <option value="2019">2019</option>
            <option value="2020">2020</option>
            <option selected value="2021">2021</option>
          </select>
          <button type="submit" id="download_button" class="btn btn-secondary" style="width:120px; margin-left:25px;">Просмотр</button>
        </form>
      </div>
    </div>







    {% if year %}

    <div style="margin-bottom: 20px;border:1px yellow solid; width: 600px" class="d-flex justify-content-between">
      <div style="flex-grow: 1; border: purple 2px solid; max-width: 130px; height: 130px; padding-top: 5px; padding-bottom: 5px" class="card d-flex flex-column justify-content-around align-items-center bd-highlight">
        <h5 class="grey_text">CS-4</h5>
        <h2 class="font-weight-bold text-danger">{{cs_4_sd_count_year}}</h2>
        <p class="text-center text-danger">Остановов</p>
      </div>

      <div style="flex-grow: 1; border: purple 2px solid; max-width: 130px; height: 130px; padding-top: 5px; padding-bottom: 5px" class="card d-flex flex-column justify-content-around align-items-center bd-highlight">
        <h5 class="grey_text">CCS-4</h5>
        <h2 class="font-weight-bold text-danger">{{ccs_4_sd_count_year}}</h2>
        <p class="text-center text-danger">Остановов</p>
      </div>

      <div style="flex-grow: 1; border: purple 2px solid; max-width: 130px; height: 130px; padding-top: 5px; padding-bottom: 5px" class="card d-flex flex-column justify-content-around align-items-center bd-highlight">
        <h5 class="grey_text">CCS-3</h5>
        <h2 class="font-weight-bold text-danger">{{ccs_3_sd_count_year}}</h2>
        <p class="text-center text-danger">Остановов</p>
      </div>

      <div style="flex-grow: 1; border: purple 2px solid; max-width: 130px; height: 130px; padding-top: 5px; padding-bottom: 5px" class="card d-flex flex-column justify-content-around align-items-center bd-highlight">
        <h5 class="grey_text">CCS-5</h5>
        <h2 class="font-weight-bold text-danger">{{ccs_5_sd_count_year}}</h2>
        <p class="text-center text-danger">Остановов</p>
      </div>
    </div>
</div>















<!--
<div class="d-flex justify-content-center">

  <br>
  <br>


  <div class="mx-3" style="padding: 15px 15px; min-width:80%; background-color:#f2feff;">
    <h2 class="d-flex justify-content-center">Информация по остановам в {{year}} году</h2>
    {% if cs_4_sd_count_year > 0 %}
    <div class="card card-body card_shadow">
      <h2>CS-4</h2>
      <table class="table table-sm ">
        <tr class="yellow_bg">
          <td class="text-center small_text" style="width: 15%;">Дата и время останова</td>
          <th class="text-center small_text" style="width: 5%;">ГПА №</th>
          <th class="text-center small_text" style="width: 8%;">Тип останова</th>
          <th class="text-center small_text" style="width: 6%;">Номер акта</th>
          <th class="text-center small_text">Причина останова</th>
          <th class="text-center small_text" style="width: 10%;">Скачать акт</th>
          <th class="text-center small_text" style="width: 10%;">Запись внесена</th>
        </tr>
        {% for sd in cs_4_sd_list %}
        <tr>
          <td class="small_txt text-center">{{sd.datetime|date:"d M Y H:i"}}</td>
          <td class="text-center">{{sd.gtu}}</td>
          <td class="text-center">{{sd.sd_type}}</td>
          <td class="text-center">{{sd.act_number}}</td>
          <td>{{sd.desc}}</td>
          <td class="text-center"><a href="{{ sd.sd_act.url }}" id="download_button" class="btn btn-secondary btn-sm">Download</a>
          </td>
          <td class="small_txt text-center">{{sd.created|date:"d M Y H:i"}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    {% endif %}
    {% if ccs_4_sd_count_year > 0 %}
    <hr>
    <div class="card card-body">
      <h2>CCS-4</h2>
      <table class="table table-sm">
        <tr class="yellow_bg">
          <td class="text-center small_text" style="width: 15%;">Дата и время останова</td>
          <th class="text-center small_text" style="width: 5%;">ГПА №</th>
          <th class="text-center small_text" style="width: 8%;">Тип останова</th>
          <th class="text-center small_text" style="width: 6%;">Номер акта</th>
          <th class="text-center small_text">Причина останова</th>
          <th class="text-center small_text" style="width: 10%;">Скачать акт</th>
          <th class="text-center small_text" style="width: 10%;">Запись внесена</th>
        </tr>
        {% for sd in ccs_4_sd_list %}
        <tr>
          <td class="small_txt  text-center">{{sd.datetime|date:"d M Y H:i"}}</td>
          <td class="text-center">{{sd.gtu}}</td>
          <td class="text-center">{{sd.sd_type}}</td>
          <td class="text-center">{{sd.act_number}}</td>
          <td>{{sd.desc}}</td>
          <td class="text-center"><a href="{{ sd.sd_act.url }}" id="download_button" class="btn btn-secondary btn-sm">Download</a>
          </td>
          <td class="small_txt text-center">{{sd.created|date:"d M Y H:i"}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    {% endif %}
    {% if ccs_3_sd_count_year > 0 %}
    <hr>
    <div class="card card-body">
      <h2>CCS-3</h2>
      <table class="table table-sm">
        <tr class="yellow_bg">
          <td class="text-center small_text" style="width: 15%;">Дата и время останова</td>
          <th class="text-center small_text" style="width: 5%;">ГПА №</th>
          <th class="text-center small_text" style="width: 8%;">Тип останова</th>
          <th class="text-center small_text" style="width: 6%;">Номер акта</th>
          <th class="text-center small_text">Причина останова</th>
          <th class="text-center small_text" style="width: 10%;">Скачать акт</th>
          <th class="text-center small_text" style="width: 10%;">Запись внесена</th>
        </tr>
        {% for sd in ccs_3_sd_list %}
        <tr>
          <td class="small_txt  text-center">{{sd.datetime|date:"d M Y H:i"}}</td>
          <td class="text-center">{{sd.gtu}}</td>
          <td class="text-center">{{sd.sd_type}}</td>
          <td class="text-center">{{sd.act_number}}</td>
          <td>{{sd.desc}}</td>
          <td class="text-center"><a href="{{ sd.sd_act.url }}" id="download_button" class="btn btn-secondary btn-sm">Download</a>
          </td>
          <td class="small_txt text-center">{{sd.created|date:"d M Y H:i"}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    {% endif %}
    {% if ccs_5_sd_count_year > 0 %}
    <hr>
    <div class="card card-body">
      <h2>CCS-5</h2>
      <table class="table table-sm">
        <tr class="yellow_bg">
          <td class="text-center small_text" style="width: 15%;">Дата и время останова</td>
          <th class="text-center small_text" style="width: 5%;">ГПА №</th>
          <th class="text-center small_text" style="width: 8%;">Тип останова</th>
          <th class="text-center small_text" style="width: 6%;">Номер акта</th>
          <th class="text-center small_text">Причина останова</th>
          <th class="text-center small_text" style="width: 10%;">Скачать акт</th>
          <th class="text-center small_text" style="width: 10%;">Запись внесена</th>
        </tr>
        {% for sd in ccs_5_sd_list %}
        <tr>
          <td class="small_txt text-center">{{sd.datetime|date:"d M Y H:i"}}</td>
          <td class="text-center">{{sd.gtu}}</td>
          <td class="text-center">{{sd.sd_type}}</td>
          <td class="text-center">{{sd.act_number}}</td>
          <td>{{sd.desc}}</td>
          <td class="text-center"><a href="{{ sd.sd_act.url }}" id="download_button" class="btn btn-secondary btn-sm">Download</a>
          </td>
          <td class="small_txt text-center">{{sd.created|date:"d M Y H:i"}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  {% endif %}


  {% endif %}

</div>-->


{% endblock content%}
