{% extends 'stops/main.html' %}


{% block content %}

<div>
  <div style="max-width: 1250px; margin: auto;">
    <div style="margin: 10px; flex-wrap: wrap;" class="d-flex justify-content-between">

      <div class="card_shadow rounded d-flex flex-column" style="background-color: white; width: 350px; height: 180px;">
        <div class="d-flex align-items-center justify-content-between" style="height:50%; padding: 10px">
          <p>Добавить останов</p>
          <a id="download_button" class="btn btn-secondary " style="width:110px; height: 40px" href="{% url 'stops:upload_SD' %}"> + </a>
        </div>

        <div class="d-flex align-items-center justify-content-between" style="height:50%; padding: 10px">
          <p>Остановы за</p>
          <form style="" class="form-inline d-flex justify-content-center" action="{% url 'stops:shutdowns_general_request' %}" method="POST">
            {% csrf_token %}
            <select style="width: 85px;" name='year' class=" form-control " aria-label=".form-select-lg example">
              <option value="2019">2019</option>
              <option value="2020">2020</option>
              <option selected value="2021">2021</option>
            </select>
            <button type="submit" id="download_button" class="btn btn-secondary" style="width:110px; margin-left:25px;">Просмотр</button>
          </form>
        </div>
      </div>

{% if year %}




      <div style="width:700px; flex-wrap: wrap;" class="d-flex justify-content-between">
        <div style="margin:10px; width:150px; height: 150px; border: yellow 1px solid" class="card d-flex flex-column justify-content-around align-items-center bd-highlight">
          <h5 class="grey_text">CS-4</h5>
          <h2 class="font-weight-bold text-danger">{{cs_4_sd_count_year}}</h2>
          <p class="text-center text-danger">Остановов</p>
        </div>
        <div style="margin:10px; width:150px; height: 150px; border: yellow 1px solid" class="card d-flex flex-column justify-content-around align-items-center bd-highlight">
          <h5 class="grey_text">CCS-4</h5>
          <h2 class="font-weight-bold text-danger">{{ccs_4_sd_count_year}}</h2>
          <p class="text-center text-danger">Остановов</p>
        </div>
        <div style="margin:10px; width:150px; height: 150px; border: yellow 1px solid" class="card d-flex flex-column justify-content-around align-items-center bd-highlight">
          <h5 class="grey_text">CCS-3</h5>
          <h2 class="font-weight-bold text-danger">{{ccs_3_sd_count_year}}</h2>
          <p class="text-center text-danger">Остановов</p>
        </div>
        <div style="margin:10px; width:150px; height: 150px; border: yellow 1px solid" class="card d-flex flex-column justify-content-around align-items-center bd-highlight">
          <h5 class="grey_text">CCS-5</h5>
          <h2 class="font-weight-bold text-danger">{{ccs_5_sd_count_year}}</h2>
          <p class="text-center text-danger">Остановов</p>
        </div>
      </div>







<div class="card_shadow rounded" style="margin-top: 15px;padding: 15px 15px; min-width:100%; background-color:#f2feff;">
  <h3 class="d-flex justify-content-center">Информация по остановам в {{year}} году</h3>



  {% if cs_4_sd_count_year > 0 %}
  <div class="card card-body card_shadow" style="overflow-x: auto;">
    <h3>CS-4</h3>
    <table style="width: 100%" class="table table-sm ">
      <tr class="yellow_bg">
        <th class="text-center small_text" style="width: 15%;">Дата и время останова</th>
        <th class="text-center small_text" style="width: 5%;">ГПА №</th>
        <th class="text-center small_text" style="width: 8%;">Тип останова</th>
        <th class="text-center small_text" style="width: 6%;">Номер акта</th>
        <th class="text-center small_text">Причина останова</th>
        <th class="text-center small_text" style="width: 10%;">Акт</th>
        <th class="text-center small_text" style="width: 10%;">Запись внесена</th>
      </tr>
      {% for sd in cs_4_sd_list %}
      <tr>
        <td class="small_text text-center">{{sd.datetime|date:"d M Y H:i"}}</td>
        <td class="small_text text-center">{{sd.gtu}}</td>
        <td class="small_text text-center">{{sd.sd_type}}</td>
        <td class="small_text text-center">{{sd.act_number}}</td>
        <td class="small_text text-center">{{sd.desc}}</td>
        <td class="small_text text-center"><a href="{{ sd.sd_act.url }}" id="download_button" class="btn btn-secondary btn-sm" style="width:30px;">+</a>
        </td>
        <td class="small_text text-center">{{sd.created|date:"d M Y H:i"}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% endif %}






  {% if ccs_4_sd_count_year > 0 %}
  <hr>
  <div class="card card-body card_shadow" style="overflow-x: auto;">
    <h3>CCS-4</h3>
    <table style="width: 100%" class="table table-sm ">
      <tr class="yellow_bg">
        <th class="text-center small_text" style="width: 15%;">Дата и время останова</th>
        <th class="text-center small_text" style="width: 5%;">ГПА №</th>
        <th class="text-center small_text" style="width: 8%;">Тип останова</th>
        <th class="text-center small_text" style="width: 6%;">Номер акта</th>
        <th class="text-center small_text">Причина останова</th>
        <th class="text-center small_text" style="width: 10%;">Акт</th>
        <th class="text-center small_text" style="width: 10%;">Запись внесена</th>
      </tr>
      {% for sd in ccs_4_sd_list %}
      <tr>
        <td class="small_text text-center">{{sd.datetime|date:"d M Y H:i"}}</td>
        <td class="small_text text-center">{{sd.gtu}}</td>
        <td class="small_text text-center">{{sd.sd_type}}</td>
        <td class="small_text text-center">{{sd.act_number}}</td>
        <td class="small_text text-center">{{sd.desc}}</td>
        <td class="small_text text-center"><a href="{{ sd.sd_act.url }}" id="download_button" class="btn btn-secondary btn-sm" style="width:30px;">+</a>
        </td>
        <td class="small_text text-center">{{sd.created|date:"d M Y H:i"}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% endif %}





  {% if ccs_3_sd_count_year > 0 %}
  <hr>
  <div class="card card-body card_shadow" style="overflow-x: auto;">
    <h3>CCS-3</h3>
    <table style="width: 100%" class="table table-sm ">
      <tr class="yellow_bg">
        <th class="text-center small_text" style="width: 15%;">Дата и время останова</th>
        <th class="text-center small_text" style="width: 5%;">ГПА №</th>
        <th class="text-center small_text" style="width: 8%;">Тип останова</th>
        <th class="text-center small_text" style="width: 6%;">Номер акта</th>
        <th class="text-center small_text">Причина останова</th>
        <th class="text-center small_text" style="width: 10%;">Акт</th>
        <th class="text-center small_text" style="width: 10%;">Запись внесена</th>
      </tr>
      {% for sd in ccs_3_sd_list %}
      <tr>
        <td class="small_text text-center">{{sd.datetime|date:"d M Y H:i"}}</td>
        <td class="small_text text-center">{{sd.gtu}}</td>
        <td class="small_text text-center">{{sd.sd_type}}</td>
        <td class="small_text text-center">{{sd.act_number}}</td>
        <td class="small_text text-center">{{sd.desc}}</td>
        <td class="small_text text-center"><a href="{{ sd.sd_act.url }}" id="download_button" class="btn btn-secondary btn-sm" style="width:30px;">+</a>
        </td>
        <td class="small_text text-center">{{sd.created|date:"d M Y H:i"}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% endif %}





  {% if ccs_5_sd_count_year > 0 %}
  <hr>
  <div class="card card-body card_shadow" style="overflow-x: auto;">
    <h3>CCS-5</h3>
    <table style="width: 100%" class="table table-sm ">
      <tr class="yellow_bg">
        <th class="text-center small_text" style="width: 15%;">Дата и время останова</th>
        <th class="text-center small_text" style="width: 5%;">ГПА №</th>
        <th class="text-center small_text" style="width: 8%;">Тип останова</th>
        <th class="text-center small_text" style="width: 6%;">Номер акта</th>
        <th class="text-center small_text">Причина останова</th>
        <th class="text-center small_text" style="width: 10%;">Акт</th>
        <th class="text-center small_text" style="width: 10%;">Запись внесена</th>
      </tr>
      {% for sd in ccs_5_sd_list %}
      <tr>
        <td class="small_text text-center">{{sd.datetime|date:"d M Y H:i"}}</td>
        <td class="small_text text-center">{{sd.gtu}}</td>
        <td class="small_text text-center">{{sd.sd_type}}</td>
        <td class="small_text text-center">{{sd.act_number}}</td>
        <td class="small_text text-center">{{sd.desc}}</td>
        <td class="small_text text-center"><a href="{{ sd.sd_act.url }}" id="download_button" class="btn btn-secondary btn-sm" style="width:30px;">+</a>
        </td>
        <td class="small_text text-center">{{sd.created|date:"d M Y H:i"}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  </div>
  {% endif %}


{% endif %}



    </div>
  </div>
</div>











{% endblock content%}
